div.left {
    float: left;
}

div.right {
    float: right;
}

div.half {
    border: 1px solid black;
    width: 49%;
    min-height: 200px;
}

div.full {
    width: 100%;
}

.formatted-chart {
    clear: both;
    padding-left: 10px;
}

span.reset {
    float: right;
}