<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Traffic Monitor Plotting</title>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css">
        <link rel="stylesheet" href="base.css">
    </head>
    <body ng-app="trafficPlots" flow-prevent-drop>
        <h1>Traffic Monitor: Plots</h1>
        <div ng-controller="baseCtrl">
            <div ng-if="!uploadedFile.name">
                <h2>Upload a CSV File</h2>
                <i>You can find some sample data in <a href="https://github.com/turtlemonvh/traffic-monitor-plots/tree/master/sample_data">the "sample data" directory</a> of <a href="https://github.com/turtlemonvh/traffic-monitor/">the "traffic_monitor" project</a>.</i>
                <hr/>
            </div>

            <div flow-init="{singleFile:true}"
                  flow-file-added="addFile($file, $event)"
                 class="ng-scope">
                <!-- Upload file 
                https://github.com/flowjs/ng-flow
                https://github.com/flowjs/flow.js#flowfile
                -->
                <input type="file"
                       flow-btn
                       ng-if="!uploadedFile.name" />

                <p ng-if="uploadedFile.name">Uploaded:
                    <b>{{ uploadedFile.name }}</b>
                </p>

                <p>
                    Progress: {{ progress }}
                </p>
            </div>

            <traffic-charts ng-if="uploadedFile.name"></traffic-charts>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.min.js"></script>
        <script src="//cdn.jsdelivr.net/flow.js/2.0.0b2/flow.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="//cdn.jsdelivr.net/anglular.flow/2.2.0/ng-flow-standalone.min.js"></script>
        <script src="base.js"></script>
    </body>
</html>